.modal-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.added-image {
  height: 200px;
  margin: 100px;
}

.take-home-button {
  border: 1px solid black;
  padding: 4px 8px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.take-home-button i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
}

@media only screen and (max-width: 1024px) {
  .added-image {
    height: 160px;
  }
}

@media only screen and (max-width: 512px) {
  .added-image {
    height: 120px;
  }
}
